# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SENSOR_BED_TB_RIGHT

config ZMK_KEYBOARD_NAME
	default "SensorBed-TB"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SENSOR_BED_TB_LEFT
config ZMK_KEYBOARD_NAME
  default "SensorBed-TB-slave"

endif

if SENSOR_BED_TB_LEFT || SENSOR_BED_TB_RIGHT

config ZMK_SPLIT
	default y

config ZMK_USB
	default y

endif

